body{
	font-family: 'Twinkle Star', cursive;
	margin:0 ;
}
header{
	background-color: peachpuff ;
	text-align: center;
}
header h1{
	color: hotpink;
    font-size: 45px;
}
header img{
	border-radius: 140px;
	border: 10px solid salmon;
}
main p{
	font-size: 35px;
}
main{
	max-width: 800px;
}