body{
	font-family: 'Twinkle Star', cursive;
	margin:0 ;
	background-color: peachpuff ;
	text-align: center;
}
header{
	
}
header h1{
	color: hotpink;
    font-size: 45px;
}
header img{
	border-radius: 140px;
	border: 10px solid salmon;
}
main p{
	font-size: 35px;
}
main{
	max-width: 800px;
	text-align: center;
	margin: 0;

}
main img{
	max-width: 100%;
}
main a{
	color:#DE3163 ;
}
footer a{
	color: #0047AB;
}